.section {
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
    left: 37%;
    padding-bottom: 7px;
}

.Table {
    display: table;
}

button:hover {
    background-color: green;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 20px;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

@media(max-width:500px) {
    .HidePartTime {
        display: none;
    }
    .line-break {
        display: block;
    }
}